[Unit]
Description=uWSGI instance to serve auction app
After=network.target

[Service]
User=auction
Group=www-data
WorkingDirectory=/home/auction/mini_auction
Environment="PATH=/home/auction/mini_auction/Auction_env/bin"
ExecStart=/home/auction/mini_auction/Auction_env/bin/uwsgi --ini auction.ini

[Install]
WantedBy=multi-user.target

